/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeueBold";
  src: url("/fonts/bebas_neue_bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "OpenSans", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(72, 85, 91);
  font-size: 13px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 970px;
}

.story__images-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.button {
  padding: 11px 29px;
  background-color: rgb(0, 164, 229);
  color: rgb(255, 255, 255);
  line-height: 18px;
  font-weight: 700;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: rgb(38, 180, 236);
}

.header__banner {
  background: url(./images/header-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

.logo-white {
  text-align: center;
  padding-top: 41px;
  margin-bottom: 317px;
}

.header__title {
  text-align: center;
  font-family: "BebasNeueBold";
  font-size: 60px;
  line-height: 70.5px;
  letter-spacing: 5.7px;
  color: rgb(255, 255, 255);
}

.header__text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 18.75px;
  margin-bottom: 221px;
}

.btn-scroll {
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 3.7px;
  padding-bottom: 71px;
}

.header__footer {
  margin-bottom: 57px;
  padding: 25px 0 24px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.header__button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.1px;
  font-weight: 700;
  color: rgb(72, 85, 91);
}

.nav__list-item {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.nav__list-item:hover {
  color: rgb(0, 164, 229);
}

.story__title {
  text-align: center;
}

.story-title {
  margin-bottom: 64px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 2.3px;
  padding-bottom: 10px;
}
.story-title:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
  width: 50px;
  border-bottom: 2.5px solid rgb(0, 164, 229);
}

.story__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 118px;
}

.story__text-content {
  max-width: 395px;
}

.story__subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23.5px;
  letter-spacing: 0.2;
  font-weight: 700;
}

.image-content {
  position: relative;
}
.image-content:before {
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.we-plan-content:before {
  content: "WE \aPLAN";
  white-space: pre;
}

.we-manage-content:before {
  content: "WE MANAGE";
}

.we-build-content:before {
  content: "WE \a BUILD";
  white-space: pre;
}

.capabilities__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 78px;
}

.capabilities-title {
  white-space: nowrap;
  margin-right: 154px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 2.3px;
  padding-bottom: 10px;
}
.capabilities-title:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 50px;
  border-bottom: 2.5px solid rgb(0, 164, 229);
}

.capabilities-text {
  display: inline-block;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  margin-right: 32px;
  max-width: 405px;
}

.capabilities__cards {
  margin-bottom: 115px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 27px 1fr 27px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
}

.card-border {
  border: 1px solid rgb(230, 230, 230);
}

.card-item {
  padding: 38px 22px 0 22px;
}

.card-img {
  margin-bottom: 25px;
}

.card-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.43px;
  font-weight: 700;
  margin-bottom: 13px;
}

.card-text {
  margin-bottom: 39px;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.footer__banner {
  background: url(/images/footer-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

.footer__banner-item {
  text-align: center;
}

.footer__banner-title {
  margin-bottom: 35px;
  padding-top: 120px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 700;
}

.footer__banner-btn {
  margin-bottom: 231px;
  padding-left: 26px;
  padding-right: 26px;
}

.signup {
  background-color: rgb(23, 24, 25);
  padding: 35px 0 35px;
}

.signup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

.signup-title {
  display: inline-block;
  text-align: right;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.85px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.signup-input {
  padding: 11px 97px 11.4px 16px;
  background-color: rgb(255, 255, 255);
}
.signup-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 14px;
}
.signup-input::-moz-placeholder {
  font-size: 14px;
  line-height: 14px;
}
.signup-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 14px;
}
.signup-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 14px;
}
.signup-input::placeholder {
  font-size: 14px;
  line-height: 14px;
}

.signup-btn {
  margin-left: -4px;
  padding-left: 49px;
  padding-right: 49px;
}

.footer__content {
  background-color: rgb(20, 26, 32);
  padding: 42px 0 39px;
}

.footer__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__company {
  margin-right: 71px;
  max-width: 250px;
}

.footer-titles {
  margin-bottom: 16px;
  font-size: 11px;
  line-height: 12.9px;
  letter-spacing: 0.85px;
  color: rgb(255, 255, 255);
}

.footer-logo {
  text-align: left;
  margin-bottom: 16px;
}

.footer__company-text {
  font-size: 11px;
  letter-spacing: 0.85px;
  line-height: 19px;
  color: rgb(255, 255, 255);
}

.footer__links-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 58px;
}

.footer__links-item {
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.85px;
  color: rgb(255, 255, 255);
  text-wrap: nowrap;
}
.footer__links-item:not(:last-child) {
  margin-right: 36px;
}

.footer__contacts {
  margin-right: 46px;
  max-width: 141px;
}

.footer__contacts-text {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.85px;
  color: rgb(255, 255, 255);
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}

.socials-img {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(68deg) brightness(105%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(68deg) brightness(105%) contrast(105%);
  width: 14px;
  height: 14px;
}

.footer__bottom {
  background-color: rgb(23, 24, 25);
  padding: 22px 0 22px;
  text-align: center;
}

.footer__bottom-text {
  font-size: 11px;
  line-height: 12.9px;
  letter-spacing: 0.85px;
  color: rgb(255, 255, 255);
}
